<meta name="description" content="Hello! My name is Joschua Setiawan, and I am a Visual Artist, Graphic Designer, and Software Developer." />
<meta property="og:title" content="joschuasetiawan.com" />
<meta property="og:description" content="Joschua Setiawan Online Portfolio" />
<meta property="og:image" content={{ url_for('static', filename='img/portfolio.png') }} />

<link rel="icon" type="img/x-icon" href={{ url_for('static', filename='img/favicon.png') }}>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='css/aos.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
<link rel="stylesheet" href={{ url_for('static', filename='css/grid.css') }}>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>