<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="#home">HOME</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#about">ABOUT ME</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#projects">PROJECTS</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#contact">CONTACT</a>
</li>
</ul>
<span class="navbar-text">
<div class="container" id="icon-small-wrapper">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.03 122.68"><g id="Layer_2" data-name="Layer 2"><g id="Layer_5" data-name="Layer 5"><path d="M0,14.57,57.58,72.15a12.35,12.35,0,0,1,0,17.42l-20,20,13.07,13.07L75.44,97.85a24.11,24.11,0,0,0,0-34L13.07,1.5Z"/><rect x="49.62" y="10.08" width="36.17" height="18.48" transform="translate(6.17 53.54) rotate(-45)"/></g></g></svg>
</div>
</span>
</div>
</nav>