
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/pangestoe.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">Pangestoe Web</p>
        <div class="divider">
        </div>
        <p class="sub-title">Full-Stack Development, commercial</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/spapp.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">spapp</p>
        <div class="divider">
        </div>
        <p class="sub-title">Front-End Development, academic</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/giforecast.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">GIForecast</p>
        <div class="divider">
        </div>
        <p class="sub-title">JavaScript API, academic</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/shoppinglist.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">Shopping List</p>
        <div class="divider">
        </div>
        <p class="sub-title">JavaScript, academic</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/portfolio.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">Personal Portfolio</p>
        <div class="divider">
        </div>
        <p class="sub-title">Full-Stack Development, personal</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/goeiemorgen.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">Goeiemorgen</p>
        <div class="divider">
        </div>
        <p class="sub-title">Branding, commercial</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 cell-container item" data-aos="fade-down">
    <img class="image" src={{ url_for('static', filename='img/reform_1.png') }}> <a class="overlay" target="_blank">
    <div class="text">
        <p class="title">REFORM</p>
        <div class="divider">
        </div>
        <p class="sub-title">Branding, commercial</p>
        <button type="button" class="btn btn-outline-primary">LEARN MORE</button>
    </div></a>
</div>
