<div id="skillbar" class="col-sm-4 container item" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="600" data-aos-offset="300">
<div class="container skill-bar-wrapper">
<div class="skillbar clearfix " data-percent="90%">
<div class="skillbar-title" style="background: #252a35;"><span>HTML5</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">90%</div>
</div>
<div class="skillbar clearfix " data-percent="85%">
<div class="skillbar-title" style="background: #252a35;"><span>CSS</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">85%</div>
</div>
<div class="skillbar clearfix " data-percent="75%">
<div class="skillbar-title" style="background: #252a35;"><span>JavaScript</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">75%</div>
</div>
<div class="skillbar clearfix " data-percent="85%">
<div class="skillbar-title" style="background: #252a35;"><span>Python</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">85%</div>
</div>
<div class="skillbar clearfix " data-percent="50%">
<div class="skillbar-title" style="background: #252a35;"><span>C++</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">50%</div>
</div>
<div class="skillbar clearfix " data-percent="70%">
<div class="skillbar-title" style="background: #252a35;"><span>SQL</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">70%</div>
</div>
<div class="skillbar clearfix " data-percent="70%">
<div class="skillbar-title" style="background: #252a35;"><span>mongoDB</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">75%</div>
</div>
<div class="skillbar clearfix " data-percent="75%">
<div class="skillbar-title" style="background: #252a35;"><span>Flask</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">80%</div>
</div>
<div class="skillbar clearfix " data-percent="80%">
<div class="skillbar-title" style="background: #252a35;"><span>git</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">70%</div>
</div>
<div class="skillbar clearfix " data-percent="95%">
<div class="skillbar-title" style="background: #252a35;"><span>Photoshop</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">95%</div>
</div>
<div class="skillbar clearfix " data-percent="85%">
<div class="skillbar-title" style="background: #252a35;"><span>Illustrator</span></div>
<div class="skillbar-bar" style="background: #c5257a;"></div>
<div class="skill-bar-percent">85%</div>
</div>
</div>
</div>